.header-nav a {
    float: right;
    padding: 0px 20px;
    color: rgb(92, 15, 40);
    text-transform: uppercase;
  }

table {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(160, 118, 140);
    border: 2px solid rgb(94, 0, 55);
  border-radius: 5px;
}

.table {
    padding: 20px 20px;
    
}
th, tr {
    padding: 20px 50px; 
}

tr:hover {background-color: #D6EEEE;}

h1 {
    background-color: rgba(187, 59, 144, 0.534);
    color: white;
}

h2 {
    font-size: xx-large;
    color: rgb(88, 0, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 20px 20px;
}

.notes form input {
        width: 100%;
        height: 40px;
        padding: 20px 10px;
        color: rgb(136, 34, 90);
      }
    
footer {
    font-size: small;
    color: rgb(78, 1, 55);
    display: flex;
    align-items: flex-end;
    justify-content: right;
}


.mainimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 150px;
}

.info form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
}

.info form input {
    width: 200px;
    height: 15px;
    padding: 10px 10px;
    margin: 50px 50px;
}

.button {
    background-color: rgb(88, 0, 49);
    color: white;
    text-align: center;
    font-size: 40px;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
  }

  